<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>平台管理--客服相关---风控凭证</title>
    {include file="layout/c_style" /}
    {include file="layout/c_corejs" /}
    <!-- END THEME STYLES -->
    <link type="text/css" rel="stylesheet" href="/assets/plugins/DatePicker/skin/WdatePicker.css" />
    <!-- select2自动补全下拉框样式 -->
    <link rel="stylesheet" href="/assets/css/order.css" type="text/css" />
    {load href="/static/css/productManagement.css" /}
</head>
<body>
<!-- END HEAD -->
<!-- BEGIN BODY -->
    <!-- BEGIN CONTAINER -->
        <!-- BEGIN SIDEBAR -->
        <!--#include file="layout/sidebar.html"-->
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
            <div class="page-content pt0 ml20 pl0">
                <!-- 订单内容 begin -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-custom tabbable-custom-bby tabs-below" role="navigation">
                            <div>
                                <div class="tab-content mt25">
                                    <div class="tab-pane active d-element-bind btns-link" id="month6">
                                        <div class="search-btn-wrap bborder-no">
                                            <form id="navbar" class="navbar-left" action="SearchFor" method="post">
                                                <ul class="c-h-ul search-ul query-ul">
                                                    <li  class="w440">
                                                            <label class="c-h-ul-li-title">搜索条件：</label>
                                                            <select name="search_condition"  class="form-control input-small inline">
                                                               <option value="">请选择</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same IP'"} selected = "selected" {/if}  value="Same IP">Same IP</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same Card Number'"} selected = "selected" {/if}  value="Same Card Number">Same Card Number</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same Billing Phone'"} selected = "selected" {/if}  value="Same Billing Phone">Same Billing Phone</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same Billing Email'"} selected = "selected" {/if}  value="Same Billing Email">Same Billing Email</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same Billing Address'"} selected = "selected" {/if}  value="Same Billing Address">Same Billing Address</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same Shipping Phone'"} selected = "selected" {/if}  value="Same Shipping Phone">Same Shipping Phone</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same Shipping Email'"} selected = "selected" {/if}  value="Same Shipping Email">Same Shipping Email</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same Shipping Address'"} selected = "selected" {/if}  value="Same Shipping Address">Same Shipping Address</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same Card Holder'"} selected = "selected" {/if}  value="Same Card Holder">Same Card Holder</option>
                                                               <option {if condition="!empty($data['search_condition']) && $data['search_condition'] == 'Same Consignee'"} selected = "selected" {/if}  value="Same Consignee">Same Consignee</option>

                                                              <!--  {volist name="ChannelDisbursement"  id="Type"}
                                                               <option {if condition="!empty($data['pay_channel']) && $data['pay_channel'] == $Type[1]"} selected = "selected" {/if}  value="{$Type[1]}">{$Type[1]}</option>
                                                               {/volist} -->
                                                            </select>
                                                            <input name="search_condition_value" value="{$data.search_condition_value?$data.search_condition_value:''}" class="form-control input-small" type="text" />
                                                    </li>
                                                    <li class="w440">
                                                            <label class="c-h-ul-li-title">下单时间：</label>
                                                            <input type="text" name="startTime" id="reservationtime" class="form-control input-small startTime" value="{:input('startTime')}" autocomplete="off"/>
                                                            <span class="time-text w10">至</span>
                                                            <input type="text" name="endTime" id="canceltime" class="form-control input-small endTime"  value="{:input('endTime')}" autocomplete="off"/>
                                                    </li>
                                                    <li class="w240">
                                                        <label class="c-h-ul-li-title w60"></label>
                                                        <a onclick="javascript:document:navbar.submit();"
                                                        class="btn btn-gray" href="javascript:;">查 询</a>
                                                        <a onclick="javascript:;" class="btn btn-gray add-special-list" href="javascript:;">新增</a>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                        <div id="enlarge_images" ></div>
                                        <!-- start base table -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table-basic table-hover table-padding">
                                                    <thead>
                                                    <tr>
                                                        <th>序号</th>
                                                        <th>Site</th>
                                                        <th>订单号</th>
                                                        <th>sPartyTxnID</th>
                                                        <th>金额</th>
                                                        <th>IP</th>
                                                        <th>ShipCountry</th>
                                                        <th>BillCountry</th>
                                                        <th>时间(UTC)</th>
                                                        <th>PayerEmail</th>
                                                        <th>PaymenMethod</th>
                                                        <th>OrderStatus</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {volist name="list" key = 'k' id="vo"}
                                                            <tr>
                                                                <td>{$vo.id}</td>
                                                                <td>{$vo.SiteID}</td>
                                                                <td>{$vo.OrderNumber?$vo.OrderNumber:'0'}</td>
                                                                <td>{$vo.ThirdPartyTxnID?$vo.ThirdPartyTxnID:''}</td>
                                                                <td>{$vo.Amount?$vo.Amount:''}</td>
                                                                <td>{$vo.CustomerIP?$vo.CustomerIP:''}</td>
                                                                <td>{$vo.ShippAddressCountry?$vo.ShippAddressCountry:''}</td>
                                                                <td>{$vo.BillingAddressCountry?$vo.BillingAddressCountry:''}</td>
                                                                <td>
                                                                   <?php if(!empty($vo['add_time'])){ echo date("Y-m-d H:i:s",$vo['add_time']);}  ?>

                                                                </td>
                                                                <td>{$vo.ShippAddressEmail?$vo.ShippAddressEmail:''}</td>
                                                                <td>{$vo.PaymentMethod?$vo.PaymentMethod:''}</td>
                                                                <td>
                                                                    {if condition="isset($vo.order_status) &&  $vo.order_status == 200"}
                                                                         支付成功
                                                                    {else /}

                                                                    {/if}
                                                               <!--  {$vo.order_status?$vo.order_status:''} -->
                                                                </td>
                                                                <td>
                                                                   <a href="javascript:;">查看</a>
                                                                </td>

                                                            </tr>
                                                        {/volist}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end base table -->
                                        <div class="row row16 pd15 mt10">
                                            <div class="dataTables_paginate paging_bootstrap fr">
                                                {$page?$page:''}
                                            </div>
                                        </div>
                                        <!-- 订单内容 end -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-copy-pop hide"></div>
     <script src="/assets/scripts/core/app.js" type="text/javascript"></script>
     <script type="text/javascript" src="/js/custom.js"></script>
     <script src="/static/js/system.js" type="text/javascript"></script>
    <!-- END JAVASCRIPTS -->
    <script>
        $(function(){
            System.SpecialList();
        });
    </script>

</body>
</html>
<script>

</script>