<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>DX_StoreCredit管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    {include file="layout/c_style" /}
    {include file="layout/c_corejs" /}
    <link type="text/css" rel="stylesheet" href="/assets/plugins/DatePicker/skin/WdatePicker.css" />
    <link rel="stylesheet" href="/assets/css/order.css" type="text/css" />

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="only-body-page-content">

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content pt0">

                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-custom tabbable-custom-bby tabs-below" role="navigation">
                            <div>
                                <div class="tab-content mt25">
                                    <div class="tab-pane active d-element-bind btns-link" id="month6">
                                        <div class="search-btn-wrap">
                                            <form id="navbar" class="navbar-left DxPoints" action="/VirtualCurrencyManagement/DxPoints" method="post" role="search">
                                                <ul class="c-h-ul search-ul query-ul">
                                                    <li >
                                                        <label class="c-h-ul-li-title w100">客户ID：</label>
                                                        <input name="CustomerID" class="form-control input-small CustomerID" type="text" value="{$data['CustomerID']?$data['CustomerID']:''}" />
                                                    </li>
                                                    <li >
                                                        <label class="c-h-ul-li-title w100">客户Email：</label>
                                                        <input name="EmailUserName" class="form-control input-small EmailUserName" type="text" value="{$data['EmailUserName']?$data['EmailUserName']:''}" />
                                                    </li>
                                                    <!--<li >-->
                                                        <!--<label class="c-h-ul-li-title w100">币种：</label>-->
                                                        <!--<select name="CurrencyType" class="form-control input-small inline CurrencyType">-->
                                                            <!--<option value="">请选择</option>-->
                                                            <!--{volist name="currency" id="Cy"}-->
                                                                <!--<option {if condition="$data.CurrencyType eq $Cy.Name"} selected = "selected"{/if}  value="{$Cy.Name}">{$Cy.Name}</option>-->
                                                            <!--{/volist}-->
                                                        <!--</select>-->
                                                    <!--</li>-->
                                                    <li class="w200">
                                                        <a onclick="javascript:document:navbar.submit();" class="btn btn-gray relative" href="javascript:;">查 询</a>
                                                       <!--  <a data-url="/VirtualCurrencyManagement/Export?" data-class="StoreCredit" class="btn btn-gray relative StoreCreditExport" href="javascript:;">导出</a> -->
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table-basic table-padding table-hover">
                                                    <colgroup>
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                    </colgroup>
                                                    <thead>
                                                    <tr>
                                                        <th>客户ID</th>
                                                        <th>客户Email</th>
                                                       <!--  <th>站点</th> -->
                                                        <th>会员等级(暂时没有)</th>
                                                        <th>DxPoints(新)</th>
                                                        <th>待生效DxPoints(新)</th>
                                                        <th>可用DxPoints</th>
                                                        <th>待生效</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {volist name="list" id="vo"}
                                                        <tr>
                                                            <td><a href="/MemberManagement/edit/id/{$vo.CustomerID}" class="Qing">{$vo.CustomerID}</a></td>
                                                            <td>{$vo.EmailUserName}</td>
                                                            <td></td>
                                                            <td>{$vo.TotalCount}</td>
                                                            <td>{$vo.NewInactiveCount}</td>
                                                            <td>{$vo.UsableCount}</td>
                                                            <td>{$vo.InactiveCount}</td>
                                                            <td>
                                                                <a href="/VirtualCurrencyManagement/DxPointsDetails/id/{$vo.CustomerID}" class="Qing">查看详情</a>
                                                            </td>
                                                        </tr>
                                                    {/volist}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end base table -->
                                        <div class="row row16 pd15 mt10">
                                            <div class="dataTables_paginate paging_bootstrap fr">
                                            {$page}
                                            </div>
                                        </div>
                                        <!-- 订单内容 end -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/plugins/DatePicker/WdatePicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!--<script type="text/javascript" src="/assets/plugins/bootstrap-daterangepicker/daterangepicker-zh-cn.js"></script>-->
    <script src="/assets/scripts/core/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/public.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
     <script>
         /*
        *导出
        */
         $('.StoreCreditExport').click(function(event){
             var that = $(this);
             var CustomerID = $('.CustomerID').val()?$('.CustomerID').val():'';
             var EmailUserName = $('.EmailUserName').val()?$('.EmailUserName').val():'';
             var CurrencyType = $('.CurrencyType').val()?$('.CurrencyType').val():'';
             var url = that.data('url');
             var url = url+'&CustomerID='+CustomerID+'&EmailUserName='+EmailUserName+'&CurrencyType='+CurrencyType;
             window.location.href=url;
         })
    // $(function() {
    //     public.public_status();
    // })
    </script>
    <!-- END JAVASCRIPTS -->

</body>
</html>
