<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>平台管理--订单管理--海外发货单导出</title>
    {include file="layout/c_style" /}
    {include file="layout/c_corejs" /}
    <!-- END THEME STYLES -->
    <link type="text/css" rel="stylesheet" href="/assets/plugins/DatePicker/skin/WdatePicker.css" />
    <!-- select2自动补全下拉框样式 -->
    <link rel="stylesheet" href="/assets/css/order.css" type="text/css" />

    {load href="/static/css/productManagement.css" /}
</head>
<body>
<!-- END HEAD -->
<!-- BEGIN BODY -->
    <!-- BEGIN CONTAINER -->
        <!-- BEGIN SIDEBAR -->
        <!--#include file="layout/sidebar.html"-->
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
            <div class="page-content pt0 ml20 pl0">
                <!-- 订单内容 begin -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-custom tabbable-custom-bby tabs-below" role="navigation">
                            <div>
                                <div class="tab-content mt25">
                                    <div class="tab-pane active d-element-bind btns-link" id="month6">
                                        <div class="search-btn-wrap bborder-no">
                                            <form id="navbar" class="navbar-left" action="" method="post">
                                                <ul class="c-h-ul search-ul query-ul">
                                                    <li class="w440">
                                                        <label class="c-h-ul-li-title" for="reservationtime">发货时间：</label>
                                                        <input type="text" name="startTime" id="reservationtime" class="form-control input-small startTime" value="{:input('startTime')}" autocomplete="off"/>
                                                        <span class="time-text w20">至</span>
                                                        <input type="text" name="endTime" id="canceltime" class="form-control input-small endTime"  value="{:input('endTime')}" autocomplete="off"/>
                                                    </li>
                                                    <li class="pb6">
                                                        <label class="c-h-ul-li-title w100">海外仓：</label>
                                                        <select name="store_id" class="form-control input-small inline status">
                                                            <option value="888">蛇口仓</option>
                                                        </select>
                                                    </li>
                                                    <li class="w240">
                                                        <label class="c-h-ul-li-title w60"></label>
                                                        <button class="btn btn-gray query-btn">查 询</button>
                                                    </li>
                                                    <li class="w240">
                                                        <label class="c-h-ul-li-title w60"></label>
                                                        <button class="btn btn-gray export-btn">导出</button>
                                                    </li>
                                                    <li class="w240">
                                                        <label class="c-h-ul-li-title w60"></label>
                                                        <button class="btn btn-gray export-btn-gs">导出关税数据</button>
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="is_export" id="is_export" value="0">
                                            </form>
                                        </div>
                                        <div id="enlarge_images" ></div>
                                        <!-- start base table -->
                                        <div class="row">
                                            <div class="col-md-12" style="overflow-x:scroll;">
                                                <table class="table-basic table-hover table-padding">
                                                    <thead>
                                                    <tr>
                                                        <!--<th><input type="checkbox" class="selectAll"/></th>-->
                                                        <th>OrderNumber</th>
                                                        <th>SKU</th>
                                                        <th>UnitCost</th>
                                                        <th>Currency</th>
                                                        <th>Price</th>
                                                        <th>Price(USD)</th>
                                                        <th>Quantity</th>
                                                        <th>TotalCost</th>
                                                        <th>TotalCost(USD)</th>
                                                        <th>ShippingFee</th>
                                                        <th>Discount</th>
                                                        <th>PrimaryCategoryID</th>
                                                        <th>OrderDate</th>
                                                        <th>ScanDate</th>
                                                        <th>ShipmentAddress</th>
                                                        <th>CountryCode</th>
                                                        <th>BuyerName</th>
                                                        <th>ChannelName</th>
                                                        <th>TrackingNumber</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {foreach name="list['data']" item="vo"}
                                                            <tr>
                                                                <td>{$vo['order_number']}</td>
                                                                <td>{$vo['sku_id']}</td>
                                                                <td>{$sku_unit_cost['unit_cost']|default=""}</td>
                                                                <td>{$vo['currency_code']}</td>
                                                                <td>{$vo['captured_price']}</td>
                                                                <td>{$vo['captured_price_usd']}</td>
                                                                <td>{$vo['sku_qty']}</td>
                                                                <td>
                                                                    {$vo['total_cost']|default=""}
                                                                </td>
                                                                <td>
                                                                    {$vo['total_cost_usd']|default=""}
                                                                </td>
                                                                <td>{$vo['shipping_fee']}</td>
                                                                <td>{$vo['discount_total']}</td>
                                                                <td>{$vo['first_category_id']}</td>
                                                                <td>{if condition="!empty($vo['create_on'])"}{$vo['create_on']|date="Y/m/d H:i:s",###}{else/}&nbsp;{/if}</td>
                                                                <td>{if condition="!empty($vo['shipments_time'])"}{$vo['shipments_time']|date="Y/m/d H:i:s",###}{else/}&nbsp;{/if}</td>
                                                                <td>{$vo['street1']}{notempty name="vo['street2']"},{$vo['street2']}{/notempty}</td>
                                                                <td>{notempty name="$vo['country_code']"}{$vo['country_code']}{else/}&nbsp;{/notempty}</td>
                                                                <td>{$vo['first_name']} {$vo['last_name']}</td>
                                                                <td>{notempty name="$vo['shipping_channel_name']"}{$vo['shipping_channel_name']}{else/}&nbsp;{/notempty}</td>
                                                                <td>{notempty name="$vo['tracking_number']"}{$vo['tracking_number']}{else/}&nbsp;{/notempty}</td>
                                                            </tr>
                                                        {/foreach}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end base table -->
                                        <div class="row row16 pd15 mt10">
                                            <div class="dataTables_paginate paging_bootstrap fr">
                                                {$list['Page']}
                                            </div>
                                        </div>
                                        <!-- 订单内容 end -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-copy-pop hide"></div>
    <script src="/assets/scripts/core/app.js" type="text/javascript"></script>
     <script src="/static/js/deliveryOrder.js" type="text/javascript"></script>.
<script>
    $(function(){
        Delivery.deliveryOrder();
    });
</script>
</body>
</html>
<script>

</script>