<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        body {
            background: #eeeeee;
        }
    </style>
</head>
<body style="background: #eeeeee; padding: 0px; margin: 0px;">
<table cellpadding="0" cellspacing="0" border="0" width="700" align="center" style="font-family:Arial; font-size:12px; line-height:10px; color:#999999; margin:0px auto;" bgcolor="#eeeeee">
    <tbody>
    <tr>
        <td height="20" style="line-height:20px;"></td>
    </tr>
    <tr>
        <td align="center" style="height:22px; line-height:22px;"> To view this email with images, <a href="{$bannerurl}?{$ga_code}" target="_blank" style="color:#22a8c7;">click here.</a> Ensure delivery by adding <a href="mailto:news@e.dx.com" target="_blank" style="color:#22a8c7;">news@e.dx.com</a> to your Address Book.</td>
    </tr>
    <tr>
        <td align="center" height="1"><img src="http://c.dx.com/edm/201305/20130514/images/sideline.jpg" width="580" height="1" style="display:block;border:0" alt=""></td>
    </tr>
    <tr>
        <td height="40" style="line-height:40px;"></td>
    </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" width="700" align="center" style="margin: 0px auto; font-size: 12px; line-height: 18px; color: #333333; font-family: Tahoma;" bgcolor="#eeeeee">
    <tbody>
    <tr>
        <td>
            <table width="700" border="0" cellpadding="0" cellspacing="0" style="margin:0px auto;" bgcolor="#eeeeee">
                <tbody>
                <tr>
                    <td width="197" height="27"><a href="http://dx.com?{$ga_code}" target="_blank"><img src="http://c.dx.com/edm/201305/20130514/images/logo.jpg" width="197" height="27" style="display:block;border:0" alt=""></a></td>
                    <td height="27" align="right" width="100%"><img src="http://c.dx.com/albums/public/edm_icons/new_en_icon_03.jpg" alt="free shipping" width="79" height="14" style="inline-display:block;border:0; padding-right:10px;"> <a href="https://www.dx.com/scenes?{$ga_code}" target="_blank"><img src="http://c.dx.com/edm/201305/20130514/images/phone.jpg" width="14" height="19" style="display:inline-block;border:0; padding-right:3px;" alt=""></a> <a href="https://www.dx.com/scenes?{$ga_code}" target="_blank" style="color:#009bbe; font-size:12px; font-weight:bold; text-decoration:underline; line-height:13px;">Download our app</a></td>
                </tr>
                <tr>
                    <td height="15" style="line-height:15px;"></td>
                </tr>
                </tbody>
            </table>

            <!-- End Header -->

            <table border="0" cellspacing="0" cellpadding="0" width="700" height="31" style="margin:0px auto;" bgcolor="#9A9A9A" background="http://c.dx.com/edm/201802/20180228/images/nav_bg.jpg">
                <tbody>
                <tr align="center">
                    <td height="31"><a href="http://www.dx.com/new-arrivals?{$ga_code}" target="_blank" style="color:#eeeeee;text-decoration:none;font:bold 12px Tahoma;">New Arrivals</a></td>
                    <td height="31" width="1"><img src="http://c.dx.com/edm/201802/20180228/images/sideline01.jpg" width="1" height="31" style="display:block;border:0" alt=""></td>
                    <td height="31"><a href="http://www.dx.com/gift-ideas/Under5?{$ga_code}" target="_blank" style="color:#eeeeee;text-decoration:none;font:bold 12px Tahoma;">$0.99</a></td>
                    <td height="31" width="1"><img src="http://c.dx.com/edm/201802/20180228/images/sideline01.jpg" width="1" height="31" style="display:block;border:0" alt=""></td>
                    <td height="31"><a href="http://www.dx.com/top-sellers?{$ga_code}" target="_blank" style="color:#eeeeee;text-decoration:none;font:bold 12px Tahoma;">Top Sellers</a></td>
                    <td height="31" width="1"><img src="http://c.dx.com/edm/201802/20180228/images/sideline01.jpg" width="1" height="31" style="display:block;border:0" alt=""></td>
                    <td height="31"><a href="https://www.dx.com/flash-deals?{$ga_code}" target="_blank" style="color:#eeeeee;text-decoration:none;font:bold 12px Tahoma;">Flash Deals</a></td>
                    <td height="31" width="1"><img src="http://c.dx.com/edm/201802/20180228/images/sideline01.jpg" width="1" height="31" style="display:block;border:0" alt=""></td>
                    <td height="31" width="100"><a href="http://www.dx.com/mvproducts?{$ga_code}" target="_blank" style="color:#eeeeee;text-decoration:none;font:bold 12px Tahoma;text-transform:uppercase;">MVP 24hrs</a></td>
                </tr>
                </tbody>
            </table>


        </td>
    </tr>
    </tbody>
</table>
<!-- End Nav -->
<!-- EDM BANNER -->
<table align="center" width="700" border="0" cellspacing="0" cellpadding="0" style="margin: 0px auto;"  bgcolor="#18346e">
    <tbody>
    <tr>
        <td width="700" height="400" bgcolor="#FFFFFF" class="bannerbox" style="background: #18346e url({$topbg}) no-repeat center center;position:relative;">
            <a href="{$bannerurl}?{$ga_code}" target="_blank" style="text-decoration: none;width: 700px;height: 400px;display:table-cell; vertical-align:middle; background: url({$banner}) no-repeat left top;">

                {notempty name="bannerT.MainTitle"}
                <h2 style=" font-size:40px;line-height:40px;font-weight:700;letter-spacing:4px;text-transform:uppercase;margin:0;color:#ffffff;text-align:center;padding-bottom: 20px;width: 80%;margin: 0 auto;">{$bannerT.MainTitle}</h2>
                {/notempty}

                {notempty name="bannerT.SubTitle"}
                <span style="font-size:18px;line-height:140%;font-weight:200;letter-spacing:.05em;color:#ffffff;text-align:center;padding-top:0;display: block;width: 80%;margin: 0 auto;">{$bannerT.SubTitle}</span>
                {/notempty}
            </a>
        </td>
    </tr>
    </tbody>
</table>

<!-- HTML content -->
{notempty name="recommend_products"}
<table width="700" border="0" cellspacing="0" cellpadding="0" style="margin:0px auto;padding-bottom: 13px;" bgcolor="#18346e">
    <tbody>
    <tr>
        <td height="40" bgcolor="#18346e"></td>
    </tr>
    {php}$cell_no = 0;{/php}
    {volist name="recommend_products" id="item"}
    {if condition="$cell_no % 2 == 0"}
    <tr>
        {/if}
        <td width="12" bgcolor="#18346e"></td>
        <td width="226" height="180" align="left" style="padding-left:2px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;width: 200px;height:180px;border: 2px dashed #20c9fe;background: #ffffff;width: 314px;max-width: 314px;display: inline-block;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#06132f;">
                <tbody>
                <tr>
                    <td width="156" height="162" align="center" valign="middle"><a href="{$item.LinkUrl}&{$ga_code}" target="_blank" style="width: 156px;display: block;"> <img style="display:block;border:0; margin:0px auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;" src="{$item.FirstProductImage}" title="{$item.Title}" alt="{$item.Title}" width="156" height="156"></a></td>
                    <td width="178" align="center" style="font-size:20px;line-height:20px; font-family:Arial, Helvetica, sans-serif;padding:20px 0px;width: 178px;">
                        <a href="{$item.LinkUrl}&{$ga_code}" target="_blank" title="{$item.Title}"  style=" color: #06132f;text-decoration: none;display: block;height: 20px;overflow: hidden;width: 100%;font-weight: bolder;">{$item.Title}</a>
                                    <span style="display:block;text-decoration: line-through;font-size: 18px;color: #000000;height: 18px;line-height: 18px;margin: 20px 0 0;padding: 0;">
                                        {notempty name="item.OriginalLowPrice"}{$currency_flag}{$item.OriginalLowPrice}{/notempty}
                                    </span>
                                    <span style="display:block;font-size: 25px;color: #01c2ff;height: 58px;line-height: 58px;margin: 0;padding: 0;">
                                        {$currency_flag}{$item.IntPrice}.<em style="font-size:19px; font-style:normal;">{$item.FloatPrice} </em>
                                    </span>
                        <a href="{$item.LinkUrl}&{$ga_code}" style="display: block;font-weight: bolder;text-transform: uppercase;color: #06132f;font-size: 18px;text-decoration: none;">buy now >></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td width="13" bgcolor="#18346e"></td>
        {php}$cell_no = $cell_no + 1;{/php}
        {if condition="$cell_no % 2 == 0"}
    </tr>
    <tr bgcolor="#18346e"><td height="20" colspan="6"></td></tr>
    {/if}
    {/volist}
    </tbody>
</table>
{/notempty}
<!--New Videos Start-->

<!--New Videos end-->


<!--sort products-->
{volist name="products" id="category"}
<table width="700" border="0" cellspacing="0" cellpadding="0" style="margin:0px auto;padding: 18px 0px 21px;" bgcolor="#18346e">
    <tbody>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:0px auto;" bgcolor="#18346e">
                <tbody>
                <tr height="26" style="background: #18346e url(http://c.dx.com/edm/201802/20180228/images/title-top.png) no-repeat center;">
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td width="74"></td>
                    <td style="text-align:center;font-size:34px;line-height: 38px;color: #ffffff;font-weight: bolder;" width="530">
                        {$key}
                    </td>
                    <td width="74"></td>
                </tr>
                <tr height="26" style="background: #18346e url(http://c.dx.com/edm/201802/20180228/images/title-bottom.png) no-repeat center;"><td colspan="3"></td></tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0" style="margin:0px auto;padding: 18px 0px 10px;" bgcolor="#18346e">
    <tbody>
    {php}$cell_sp = 0;{/php}
    {volist name="category" id="item"}
    {if condition="($cell_sp % 3 == 0)"}
    <tr width="700" style="background-color: #18346e;">
        {/if}
        <td align="left" width="10"></td>
        <td align="left" width="200" style="background: url(http://c.dx.com/edm/201802/20180228/images/tb-bg.png) no-repeat left top;padding: 18px 10px 17px;max-width: 200px;display: inline-block;">
            <table width="192" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#ffffff;padding-bottom: 18px;font-size: 12px;">
                <tbody>
                <tr>
                    <td align="center" valign="middle" height="169"><a href="{$item.LinkUrl}&{$ga_code}" target="_blank"> <img style="display:block;border:0; margin:0px auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;" src="{$item.FirstProductImage}" title="{$item.Title}" alt="{$item.Title}" width="192" height="169"></a></td>
                </tr>
                <tr>
                    <td align="center" width="198" style="font-size:12px;line-height:14px;font-family:Arial,Helvetica,sans-serif;padding:13px 2px 0 0px;text-align:left;" height="50"><a href="{$item.LinkUrl}&{$ga_code}" target="_blank"  style="text-decoration:none;display:block;height:42px;overflow:hidden; color: #ffffff;width: 198px;margin: 0 auto;">{$item.Title}</a></td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td height="30" align="center">
                                    <span align="right" style="display:inline-block;font-size:25px;color:#24d3ff;line-height:12px;text-align:left;" class="currency"><span>{$currency_flag}</span>{$item.IntPrice}.<em style="font-size:19px; font-style:normal;">{$item.FloatPrice} </em> </span>

                                    {notempty name="item.Discount"} <span style="display:inline-block;height: 22px;line-height: 22px;text-align: left;font-size: 18px;color:#05122f;padding-left: 10px;padding-right: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;background: #20c9fe;margin-left: 5px;">{$item.Discount} % <em style="font-size: 12px;font-style: normal;">OFF</em></span>{/notempty}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td width="10"></td>
        {php}$cell_sp = $cell_sp + 1;{/php}
        {if condition="($cell_sp % 3 == 0)"}</tr>
    {/if}
    {/volist}
    </tbody>
</table>
{/volist}
<!--sort products end-->

<!-- Brands  -->

<!-- Brands end  -->

<!--SeeAllDeals_Button-->
<table width="700" border="0" cellspacing="0" cellpadding="0" style="margin: 0px auto" bgcolor="#18346e">
    <tbody>
    <tr>
        <td width="700" height="20" style="line-height: 20px;"></td>
    </tr>
    <tr>
        <td width="700"><a href="{$bannerurl}?{$ga_code}"
                           target="_blank" style="font-size: 32px;color: #04bdfa;text-decoration: underline;line-height: 36px;display: block;width: 100%;text-align: center;">See all Deals >></a></td>
    </tr>
    <tr>
        <td width="700" height="20" style="line-height: 10px;"></td>
    </tr>
    </tbody>
</table>
<!--SeeAllDeals_Button end-->

<!--pastlandingpages-->

<!--pastlandingpages end-->


<table width="700" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tbody>
    <tr>
        <td height="27" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; font-weight:bold; text-align:center; line-height:18px;"></td>
    </tr>
    <tr>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td width="24" style="line-height:24px;"><a href="http://www.facebook.com/DealExtremeFans" target="_blank"><img src="http://c.dx.com/collection/public/style/images/ff.jpg" width="24" height="24" style="display:block;border:0" alt=""></a></td>
                    <td width="10" style="line-height:24px;"></td>
                    <td width="24" height="24"><a href="http://twitter.com/dealextremefans" target="_blank"><img src="http://c.dx.com/collection/public/style/images/tt.jpg" width="24" height="24" style="display:block;border:0" alt=""></a></td>
                    <td width="10"></td>
                    <td width="24" height="24"><a href="http://www.youtube.com/user/DealextremeTube" target="_blank"><img src="http://c.dx.com/edm/201305/20130514/images/yt.jpg" width="24" height="24" style="display:block;border:0" alt=""></a></td>
                    <td width="10"></td>
                    <td width="24" height="24"><a href="https://plus.google.com" target="_blank"><img src="http://c.dx.com/collection/public/style/images/gg.jpg" width="24" height="24" style="display:block;border:0" alt=""></a></td>
                    <td width="10"></td>
                    <td width="24" style="line-height:24px;"><a href="http://www.reddit.com" target="_blank"><img src="http://c.dx.com/collection/public/style/images/rd.jpg" width="24" height="24" style="display:block;border:0" alt=""></a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="73" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; text-align:center; color:#999999;">Please do not reply to this email.
            This email message was sent from a notification-only email address that cannot accept incoming email. If you no longer wish to
            receive product offer emails from us, please <a style="color:#22a8c7; text-decoration:underline;" href="https://home.dx.com/en/Subscribe/index?{$ga_code}" target="_blank">click here</a><br>If you find the newsletter useful, Share it With your friends.</td>
    </tr>
    <tr>
        <td height="40" style="text-align:center; color:#999999; line-height:20px; font-size:12px;"> Copyright © 2006~2019 DX.com.All rights reserved.<br></td>
    </tr>
    </tbody>
</table>

<!-- End Content -->
</body>
</html>