<div class="header navbar mega-menu navbar-fixed-top"><!-- navbar-fixed-top-->
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo hidden-xs"><!-- hidden-sm-->
            <a href="index.html">
                <img src="assets/img/logo-large.png" alt="logo" class="logo-default"/><span
                    class="logo-text">后台系统</span>
            </a>

            <div class="menu-toggler sidebar-toggler">
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN HORIZANTAL MENU -->
        <div class="hor-menu hidden-xs"><!-- hidden-sm-->
            <ul class="nav navbar-nav">
                <!--<li>
                    <span class="sub-text">北京仓库WMS管理系统</span>
                </li>-->
                <li class="open">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe600;</i>

                        <span>订单系统</span></a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe60d;</i>

                        <span>客服系统</span></a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe619;</i>

                        <span>会员系统</span></a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe61c;</i>

                        <span>WMS系统</span></a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe60e;</i>

                        <span>财务系统</span></a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe60b;</i>

                        <span>招商系统</span></a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe617;</i>

                        <span>外部平台</span></a>
                </li>
                <li class="classic-menu-dropdown">
                    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
                        <span class="more-menu-span">更多 <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu more-menu">
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe61b;</i>
                                分销系统</a>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe61b;</i>
                                分销系统</a>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe61b;</i>
                                分销系统</a>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe61b;</i>
                                工单</a>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe618;</i>
                                我的桌面
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- END HORIZANTAL MENU -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <img src="assets/img/menu-toggler.png" alt=""/>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true">
                    <img class="userphoto" alt="" src="assets/img/avatar3.jpg"/>
					<span class="username">
						 Admin
					</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a id="meansModify" href="javascript:void(0);">
                            <i class="fa fa-sign-out"></i> 资料修改
                        </a>
                    </li>
                    <li>
                        <a id="btnUpdatePwd" href="javascript:void(0);">
                            <i class="fa fa-key"></i> 密码修改
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="fa fa-sign-out"></i> 退出登录
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
