{load href="/static/css/productManagement.css" /}

<div class="modal-body f12_i">
    <div class="info-pb10 c-h-dl-label100">
        <form id="addUserForm" action="index.html">
            <dl class="c-h-dl-validator form-group clearfix">
                <dd class="v-title">
                    <label><em>*</em>中文名称：</label>
                </dd>
                <dd>
                    <input name="account" class="form-control input-medium inline" type="text">
                </dd>
                <dt></dt>
            </dl>
            <dl class="c-h-dl-validator form-group clearfix">
                <dd class="v-title">
                    <label><em>*</em>英文姓名：</label>
                </dd>
                <dd>
                    <input name="name" class="form-control input-medium inline" type="text">
                </dd>
                <dt></dt>
            </dl>
            <dl class="c-h-dl-validator form-group clearfix">
                <dd class="v-title">
                    <label><em>*</em>数据类型：</label>
                </dd>
                <dd>
                    <select ="powerset" name="rol-powe" class="input-xlarge" placeholder="数据类型" >
                        <option value="1">权限一</option>
                        <option value="2">权限二</option>
                        <option value="3" selected>权限三</option>
                        <option value="4">权限四</option>
                        <option value="5">权限五</option>
                        <option value="6">权限六</option>
                        <option value="7" >权限七</option>
                        <option value="8">权限八</option>
                        <option value="9">权限九</option>
                        <option value="10">权限十</option>
                        <option value="11">权限二</option>
                        <option value="12">权限十二</option>
                    </select>
                </dd>
                <dt></dt>
            </dl>
             <dl class="c-h-dl-validator form-group clearfix">
                <dd class="v-title">
                    <label>颜色：</label>
                </dd>

                    <span><input type="checkbox" name="color" class="fl mt10" value="颜色"  >&nbsp;&nbsp;<span class="color-box color-box-red"></span></span>&nbsp;&nbsp;
                    <span><input type="checkbox" name="color" value="颜色" class="mt10 fl ml10" >&nbsp;&nbsp;<span class="color-box color-box-green"></span></span>
                    <span><input type="checkbox" name="color" value="颜色" class="mt10 fl ml10" >&nbsp;&nbsp;<span class="color-box color-box-orange"></span></span>
                    <span><input type="checkbox" name="color" value="颜色" class="mt10 fl ml10" >&nbsp;&nbsp;<span class="color-box color-box-red2"></span></span>
                    <span><input type="checkbox" name="color" value="颜色" class="mt10 fl ml10" >&nbsp;&nbsp;<span class="color-box color-box-red"></span></span>
                    <span><input type="checkbox" name="color" value="颜色" class="mt10 fl ml10" >&nbsp;&nbsp;<span class="color-box color-box-red"></span></span>
                    <span><input type="checkbox" name="color" value="颜色" class="mt10 fl ml10" >&nbsp;&nbsp;<span class="color-box color-box-red2"></span></span>
                    <span><input type="checkbox" name="color" value="颜色" class="mt10 fl ml10" >&nbsp;&nbsp;<span class="color-box color-box-red"></span></span>
                    <span><input type="checkbox" name="color" value="颜色" class="mt10 fl ml10" >&nbsp;&nbsp;<span class="color-box color-box-red"></span></span>
                   <!--  <dd>
                </dd> -->
                <dt></dt>
            </dl>
             <dl class="c-h-dl-validator form-group clearfix">
                <dd class="v-title">
                    <label><em>*</em>中文描述：</label>
                </dd>
                <dd>
                    <input name="name" class="form-control input-medium inline" type="text">
                </dd>
                 <dd class="v-title">
                    <label><em>*</em>中文描述：</label>
                </dd>
                <dd>
                    <input name="name" class="form-control input-medium inline" type="text">
                </dd>
                <dt></dt>
            </dl>
        </form>
    </div>
</div>