<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>DX_属性添加</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    {include file="layout/c_global_style" /}
    {include file="layout/c_style" /}
    {load href="/static/css/productManagement.css" /}
    {include file="layout/c_corejs" /}
    <!-- END THEME STYLES -->
    <link type="text/css" rel="stylesheet" href="/assets/plugins/DatePicker/skin/WdatePicker.css" />
    <!-- select2自动补全下拉框样式 -->
    <link rel="stylesheet" href="/assets/css/order.css" type="text/css" />

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body id="Order_List" class="page-header-fixed  page-sidebar-fixed">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-custom tabbable-custom-bby tabs-below" role="navigation">
                            <div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="month6">
                                        <!-- start add -->
                                        <div class="info-pb10 c-h-dl-label100 mt10">
                                            <form id="addUserForm" class="f12_i form-horizontal" action="#" novalidate="novalidate">
                                                <!-- <input type="hidden" name="id"  value="{$list_find['_id']?$list_find['_id']:''}"> -->
                                                <div class="form-body info-pb10 ml20">
                                                    <dl class="c-h-dl-validator form-group clearfix">
                                                        <dd class="v-title">
                                                            <label><em>*</em>分类ID：</label>
                                                        </dd>
                                                        <dd>
                                                            <div class="input-icon right">
                                                                <i class="fa"></i>
                                                                <input value="" id="input_class_lang" name="class_id" class="form-control input-medium fl input_class_lang" type="text" >
                                                            </div>
                                                        </dd>
                                                        <dt></dt>
                                                    </dl>
                                                    <dl class="c-h-dl-validator form-group clearfix">
                                                        <dd class="v-title">
                                                            <label><em>*</em>分类名：</label>
                                                        </dd>
                                                        <dd>
                                                            <div class="input-icon right v-title">
                                                                <!-- <label class="class_name"></label> -->
                                                               <!--<input value="" name="title_en"id="input-color-en" class="form-control input-medium fl" type="text"{$list_find?'readonly="readonly"':''}> -->
                                                            </div>
                                                        </dd>
                                                        <dt class="class_name"><label class="delete_class"></label></dt>
                                                    </dl>
                                                     <dl class="c-h-dl-validator form-group clearfix lang">
                                                        <dd class="v-title">
                                                            <label><em>*</em>各区域语言：</label>
                                                        </dd>
                                                        <dd>
                                                           <!--  <div class="input-icon right">
                                                                <i class="fa"></i>
                                                                <input value="" name="title_en"id="input-color-en" class="form-control input-medium fl" type="text"{$list_find?'readonly="readonly"':''}>
                                                            </div> -->
                                                        </dd>
                                                        <dt></dt>
                                                    </dl>
                                                    <dl class="c-h-dl-validator form-group clearfix">
                                                        <dd class="layui-layer-btn">
                                                            <a  class="btn btn-qing editor-class-btn layui-layer-btn0" href="javascript:;">提交</a>
                                                            <a id="addressCancel" class="btn Qing layui-layer-btn1" href="javascript:history.back(-1);">取消</a></dd>
                                                        <dt></dt>
                                                    </dl>
                                                </div>
                                            </form>
                                        </div>
                                         <!-- end add -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                    </div>
                </div>
                <div class="success_data"></div>
           <!--  </div> -->
    <!--#include file="layout/footer.html"-->
    <!-- 日期插件 -->
    <script type="text/javascript" src="/assets/plugins/DatePicker/WdatePicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="/assets/scripts/core/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="/static/js/product.js" type="text/javascript"></script>
    <!-- END JAVASCRIPTS -->
    <script>
        $(function() {
            App.init();
            Product.addAttribute();
        })
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>
