<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>店铺查询</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    {include file="layout/c_style" /}
    {include file="layout/c_corejs" /}
    <!-- END THEME STYLES -->
    <link type="text/css" rel="stylesheet" href="/assets/plugins/DatePicker/skin/WdatePicker.css" />
    <!-- select2自动补全下拉框样式 -->
    <link rel="stylesheet" href="/assets/css/order.css" type="text/css" />

</head>
            <div class="page-content pt0 ml20 pl0">
                <!--start  按钮功能区 -->
               <!--  <div class="bg-color-gray0 area_btn0 ml0 mr0 border-gray">
                    {$menu_logo}
                </div> -->
                <!--end  按钮功能区 -->
                <!-- 订单内容 begin -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-custom tabbable-custom-bby tabs-below" role="navigation">
                            <div>
                           <!--  <input type="hidden" id="class_url"  value="/ProductManagement/catalog_next_mongo"> -->
                                <div class="tab-content mt25">
                                    <div class="tab-pane active d-element-bind btns-link" id="month6">
                                        <div class="search-btn-wrap">
                                            <form id="navbar" class="navbar-left" action="ProductImgList" method="post" role="search">
                                                <ul class="c-h-ul search-ul">

                                                    <li class="w500">
                                                        <label class="c-h-ul-li-title">SPU：</label>
                                                        <textarea class=" fr" name="spu" rows="8" cols="60">{$spu}</textarea>
                                                    </li>
                                                    <li class="260">
                                                        <label class="c-h-ul-li-title w60"></label>
                                                        <a onclick="javascript:document:navbar.submit();" class="btn btn-gray" href="javascript:;">查 询</a>
                                                       <!--  <a class="btn btn-gray add-bind-brand-btn" href="javascript:void(0);">添 加</a> -->
                                                    </li>
                                                </ul>
                                            </form>
                                            <script type="text/javascript">
                                            </script>
                                        </div>

                                        <!-- start base table -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table-basic table-hover table-padding">
                                                    <thead>
                                                    <tr>
                                                        <th class="w100">SPU</th>
                                                        <th class="w400">标题</th>
                                                        <th class="tleft">图片</th>
                                                       <!--  <th>添加时间</th> -->
                                                       <!--  <th>操作</th> -->
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {volist name="list" id="vo"}
                                                            <tr>
                                                                <td>
                                                                    <a href="{:config('mall_url')}p/{$vo._id}" target="_blank">{$vo._id}</a></td>
                                                                <td><a href="{:config('mall_url')}p/{$vo._id}" target="_blank" title="{$vo.Title}">{$vo.Title}</a></td>
                                                                <td class="tleft">
                                                                    {foreach name="vo['ImageSet']['ProductImg']" item="img"}
                                                                    <a href="{:config('dx_mall_img_url')}{$img}" target="_blank" class="mr10">
                                                                        <img width="60" height="60" src="{:config('dx_mall_img_url')}{$img}" class="show-pic">
                                                                    </a>
                                                                    {/foreach}
                                                                </td>
                                                            </tr>
                                                        {/volist}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end base table -->
                                        <div class="row row16 pd15 mt10">
                                            <div class="dataTables_paginate paging_bootstrap fr">
                                                {$page}
                                            </div>
                                        </div>
                                        <!-- 订单内容 end -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                    </div>
                </div>
            </div>

    <!-- 日期插件 -->
    <script type="text/javascript" src="/assets/plugins/DatePicker/WdatePicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!--<script type="text/javascript" src="/assets/plugins/bootstrap-daterangepicker/daterangepicker-zh-cn.js"></script>-->
    <script src="/assets/scripts/core/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="/static/js/product.js" type="text/javascript"></script>
    <!-- END JAVASCRIPTS -->
    <script>
        $(function(){
            Product.brandAttributeList();
        });
    </script>
    <!-- END JAVASCRIPTS -->


</html>
