<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>商品管理->商品管理->商城管理</title>
    {include file="layout/c_style" /}
    {include file="layout/c_corejs" /}
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!--#include file="layout/c_style.html"-->

    <!-- END THEME STYLES -->
    <link type="text/css" rel="stylesheet" href="/assets/plugins/DatePicker/skin/WdatePicker.css" />
    <!-- select2自动补全下拉框样式 -->
    <link rel="stylesheet" href="/assets/css/order.css" type="text/css" />

    {load href="/static/css/productManagement.css" /}
</head>
<body>
<!-- END HEAD -->
<!-- BEGIN BODY -->
    <!-- BEGIN CONTAINER -->
        <!-- BEGIN SIDEBAR -->
        <!--#include file="layout/sidebar.html"-->
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
            <div class="page-content pt0 ml20 pl0">
                <!-- 订单内容 begin -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-custom tabbable-custom-bby tabs-below" role="navigation">
                            <div>
                                <div class="tab-content mt20">
                                    <div class="tab-pane active d-element-bind btns-link" id="month6">
                                        <div class="search-btn-wrap">
                                            <form id="navbar" class="navbar-left" action="{:url('ProductManagement/ProductStatusLog')}" method="post">
                                                <ul class="c-h-ul search-ul query-ul">
                                                    <li>
                                                        <label class="c-h-ul-li-title w80">SPU：</label>
                                                        <input name="product_id" value="{:input('product_id')}" class="form-control input-small" type="text" />
                                                        <!-- <textarea class="form-control fr"  placeholder='输入框只允许以",",";"或换行隔开'  name="spu" rows="3" cols="50">{:input('spu')}</textarea> -->
                                                    </li>
                                                    <li>
                                                        <label class="c-h-ul-li-title w80">操作人名：</label>
                                                        <input name="operator" value="{:input('operator')}" class="form-control input-small" type="text" />
                                                    </li>
                                                    <li>
                                                        <label class="c-h-ul-li-title">操作人ID：</label>
                                                        <input name="operator_id" value="{:input('operator_id')}" class="form-control input-small" type="text" />
                                                    </li>
                                                    <li class="w440">
                                                        <label class="c-h-ul-li-title" for="reservationtime">下架时间：</label>
                                                        <input type="text" name="startTime" id="reservationtime" class="form-control input-small startTime" value="{:input('startTime')}" autocomplete="off"/>
                                                        <span class="time-text w10">至</span>
                                                        <input type="text" name="endTime" id="canceltime" class="form-control input-small endTime"  value="{:input('endTime')}" autocomplete="off"/>
                                                    </li>
                                                    <li>
                                                        <a onclick="javascript:document:navbar.submit();" class="btn btn-gray relative" href="javascript:;">查 询</a>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                        <div id="enlarge_images"></div>
                                        <!-- start base table -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table-basic table-hover table-padding">
                                                    <thead>
                                                    <tr>
                                                        <th>SPU</th>
                                                        <th>操作人</th>
                                                        <th>操作人ID</th>
                                                        <th>IP</th>
                                                        <th>操作时间</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {volist name="list" key = 'k' id="vo"}
                                                            <tr>
                                                                <td>{$vo.product_id?$vo.product_id:''}</td>
                                                                <td>{$vo.operator?$vo.operator:''}</td>
                                                                <td>{$vo.operator_id?$vo.operator_id:''}</td>
                                                                <td>{$vo.ip?$vo.ip:''}</td>
                                                                <td>{if condition="$vo.add_time neq ''"}{$vo.add_time|date="Y-m-d H:i:s",###}{/if}</td>
                                                            </tr>
                                                        {/volist}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end base table -->
                                        <div class="row row16 pd15">
                                            <div class="dataTables_paginate paging_bootstrap fr">
                                                {$page?$page:''}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script src="/assets/scripts/core/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="/static/js/product.js" type="text/javascript"></script>
    <script>
        $(function(){
            Product.productList();
        });
    </script>
    <!-- END JAVASCRIPTS -->

</body>
</html>
