<div class="modal-body f12_i">
   <div class="info-pb10 c-h-dl-label100">
      <form id="importDataPost" enctype="multipart/form-data" action="importDataPost">          
         <dl class="c-h-dl-validator form-group clearfix">
           <div class="row">
             <div class="col-md-12">
                <table class="table-basic table-padding">
					<tbody>
                       <tr>
                         <td width="180px" align="right">模板文件下载：</td>
                         <td align="left"><a href="/static/fileTemplet/importCustom.xlsx" class="red">点击下载模板文件</a></td>
                       </tr>
                        <tr>
                         <td width="180px" align="right">请选择文件：</td>
                         <td align="left">
                         	<input type="file" name="excel">
                         </td>
                       </tr>
                       <tr> 
                       	<td colspan="2" class="red">
			                * 请使用本系统提供的模板文件，格式为：xlsx,xls,csv；<br>
                         </td>
                       </tr>
                     </tbody>
                 </table>
               </div>
             </div>
            </dl>
        </form>
    </div>
</div>