{layout name="layout/registerLayout"/}
{load href="/static/css/login-register.css" /}
{load href="/static/js/module/module.login.js" /}

{if condition="$get_data['flag'] == 1 "}
<!-- 通过邮箱验证第一步 -->
<div class="password-find-bg">
	<h3 class="password-find-title">验证身份</h3>
	<div class="certification-wrap">
		<ul class="certification">
			<li class="item walking active">
				<p class="number">1</p>
				<p class="des">验证身份</p>
			</li>
			<li class="item line">
				<p class="line-inner"></p>
			</li>
			<li class="item walking">
				<p class="number">2</p>
				<p class="des">找回密码</p>
			</li>
			<li class="item line">
				<p class="line-inner"></p>
			</li>
			<li class="item walking">
				<p class="icon">
					<i class="iconfont icon-iconcorrect"></i>
				</p>
				<p class="des">完成</p>
			</li>
		</ul>
		<div class="verification-code">
			<p class="tips-title mb20">邮箱验证码验证&nbsp;&nbsp;&nbsp;&nbsp;账号 <span class="user-id">{$email_str}</span> 为确认是您本人操作，请完成以下验证</p>
			<dl class="dl-layout">
				<dt>您的邮箱:</dt>
				<dd>
					{$email_str}
					<input type="hidden" name="email" class="form-control" id="user-email" value="{$email}">
				</dd>
			</dl>
			<dl class="dl-layout">
				<dt>验证码:</dt>
				<dd>
					<input type="text" name="text" id="email_verify_code" class="form-control only-number" placeholder="请输入数字">
				</dd>
				<dd>
					<a href="javascript:void(0);" class="get-free get-free-by-email">点击免费获取</a>
				</dd>
			</dl>
			<div class="send-prompt hide send-prompt-email"></div>
			<div class="determine-wrap mt20">
				<a href="javascript:void(0);" class="determine mr10 confirm-email">确定</a><a href="{$other_type_url}" class="other-way">其他验证方式</a>
			</div>
		</div>
		<div class="not-received-tips mt50">
			<h3 class="mb10">没收到邮箱验证码？</h3>
			<p>1、网络通讯异常可能会造成邮件丢失，请重新获取或稍后再试。</p>
			<p>2、请核实邮箱是否正常使用，并检查垃圾邮箱夹。</p>
			<p>3、如果邮箱已停用，请选择其他验证方式。</p>
			<p>4、您也可以联系您的邮箱运营，查看验证码邮件是否被他们拦截封锁。</p>
		</div>
	</div>
</div>
{elseif condition="$get_data['flag'] == 2"/}
<!-- 通过手机验证第一步 -->
<div class="password-find-bg">
	<h3 class="password-find-title">验证身份</h3>
	<div class="certification-wrap">
		<ul class="certification">
			<li class="item walking active">
				<p class="number">1</p>
				<p class="des">验证身份</p>
			</li>
			<li class="item line">
				<p class="line-inner"></p>
			</li>
			<li class="item walking">
				<p class="number">2</p>
				<p class="des">找回密码</p>
			</li>
			<li class="item line">
				<p class="line-inner"></p>
			</li>
			<li class="item walking">
				<p class="icon">
					<i class="iconfont icon-iconcorrect"></i>
				</p>
				<p class="des">完成</p>
			</li>
		</ul>
		<div class="verification-code">
			<p class="tips-title mb20">手机验证码验证&nbsp;&nbsp;&nbsp;&nbsp;账户 <span class="user-id">{$phone_num}</span> 为确认是您本人操作，请完成以下验证</p>
			<dl class="dl-layout">
				<dt>手机号:</dt>
				<dd>
					{$phone_num}
					<input type="hidden" name="phone-num" value="{$phone_num_all}" id="phone-num">
				</dd>
			</dl>
			<dl class="dl-layout">
				<dt>验证码:</dt>
				<dd>
					<input type="text" name="text" id="sms_verify_code" class="form-control only-number veri" placeholder="请输入数字">
				</dd>
				<dd>
					<a href="javascript:void(0);" class="get-free get-free-by-phone">免费获取验证码</a>
				</dd>
			</dl>
			<div class="sms-send-error-tip hide"></div>
			<div class="send-prompt hide send-prompt-phone"></div>
			<div class="determine-wrap mt20">
				<a href="javascript:void(0);" class="determine mr10 confirm-phone">确定</a><a href="{$other_type_url}" class="other-way">其他验证方式</a>
			</div>
		</div>
		<div class="not-received-tips mt50">
			<h3 class="mb10">没收到短信验证码？</h3>
			<p>1、网络通讯异常可能会造成短信丢失，请重新获取或稍后再试。</p>
			<p>2、请核实手机是否已欠费停机，或屏蔽了系统短信。</p>
			<p>3、如果手机已丢失或停机，请选择其他验证方式。</p>
			<p>4、您也可以尝试将SIM卡移动到另一部手机，然后重试。</p>
		</div>
	</div>
</div>
{/if}
<script>
	var flag = {$get_data.flag};
	var user_id = {$get_data.user_id};
    var login = new Login();
    $(function(){
    	// 发送邮箱验证码
    	$(".get-free-by-email").click(function(){
    		login.verificationCodeEmail();
    	});
    	//邮箱验证码校验
		$('.confirm-email').click(function(){
		    login.verifyEmailCode();
		});

    	// 发送手机验证码
    	$(".get-free-by-phone").click(function(){
    		login.verificationCodePhone();
    	});
    	//手机验证码校验
		$('.confirm-phone').click(function () {
			login.verifySmsCode();
        });

    	//离开手机验证码输入框
    	$(".veri").blur(function(){
		    login.verificationCodeInputBlur(this);
		});

		//离开手机验证码输入框
    	$(".only-number").keyup(function(){
		    this.value=this.value.replace(/\D/gi,"")
		});
    })
</script>