{layout name="layout/registerLayout"/}
{load href="/static/css/login-register.css" /}

{if condition="$flag == 1 "}
<!-- 根据第一步输入的信息，提示用户是通过邮箱验证身份的 -->
<div class="password-find-bg">
	<h3 class="password-find-title">验证身份</h3>
	<div class="certification-wrap">
		<ul class="certification">
			<li class="item walking active">
				<p class="number">1</p>
				<p class="des">验证身份</p>
			</li>
			<li class="item line">
				<p class="line-inner"></p>
			</li>
			<li class="item walking">
				<p class="number">2</p>
				<p class="des">找回密码</p>
			</li>
			<li class="item line">
				<p class="line-inner"></p>
			</li>
			<li class="item walking">
				<p class="icon">
					<i class="iconfont icon-iconcorrect"></i>
				</p>
				<p class="des">完成</p>
			</li>
		</ul>
		<p class="tips mt20 fbold">确认是您本人操作，请选择验证方式完成身份验证：</p>
		<div class="prompt-certificate-wrap relative mt40">
			<p class="prompt-certificate-title">通过邮箱验证码</p>
			<p class="prompt-certificate-des">如果您的邮箱还在使用，请使用此方式</p>
			<a href="{$url}" class="prompt-certificate-btn btn-orange">立即验证</a>
		</div>
	</div>
</div>
{elseif condition="$flag == 2"/}
<!-- 根据第一步输入的信息，提示用户是通过手机验证身份的 -->
<div class="password-find-bg">
	<h3 class="password-find-title">验证身份</h3>
	<div class="certification-wrap">
		<ul class="certification">
			<li class="item walking active">
				<p class="number">1</p>
				<p class="des">验证身份</p>
			</li>
			<li class="item line">
				<p class="line-inner"></p>
			</li>
			<li class="item walking">
				<p class="number">2</p>
				<p class="des">找回密码</p>
			</li>
			<li class="item line">
				<p class="line-inner"></p>
			</li>
			<li class="item walking">
				<p class="icon">
					<i class="iconfont icon-iconcorrect"></i>
				</p>
				<p class="des">完成</p>
			</li>
		</ul>
		<p class="tips mt20 fbold">确认是您本人操作，请选择验证方式完成身份验证：</p>
		<div class="prompt-certificate-wrap relative mt40">
			<p class="prompt-certificate-title">通过手机验证码</p>
			<p class="prompt-certificate-des">如果您的手机还在使用，请使用此方式</p>
			<a href="{$url}" class="prompt-certificate-btn btn-orange">立即验证</a>
		</div>
	</div>
</div>
{/if}







