{layout name="layout/registerLayout"/}
{load href="/static/css/login-register.css" /}
{load href="/static/js/module/module.login.js" /}

<!-- 输入新密码 -->
<div class="password-find-bg">
	<div class="certification-wrap">
		<ul class="certification">
			<li class="item walking active">
				<p class="number">1</p>
				<p class="des">验证身份</p>
			</li>
			<li class="item line active">
				<p class="line-inner"></p>
			</li>
			<li class="item walking active">
				<p class="number">2</p>
				<p class="des">重置登录密码</p>
			</li>
			<li class="item line">
				<p class="line-inner"></p>
			</li>
			<li class="item walking">
				<p class="icon">
					<i class="iconfont icon-iconcorrect"></i>
				</p>
				<p class="des">完成</p>
			</li>
		</ul>
		<div class="verification-code">
			<form id="modify_pass_form">
				<input type="hidden" name="type" value="4">
				<input type="hidden" name="user_id" value="{$get_data.user_id}">
				<input type="hidden" name="flag" value="{$get_data.flag}">
				<input type="hidden" name="token" value="{$get_data.token}">

				<dl class="dl-layout new-password">
					<dt>新密码:</dt>
					<dd>
						<input type="password" class="form-control" name="password" id="rest-password" minlength="6" maxlength="20">
						<div class="err-tip err-tip1 hide"></div>
					</dd>
				</dl>
				<dl class="dl-layout relative new-password">
					<dt></dt>
					<dd>
						<ul class="pass-strength">
							<li class="low">LOW</li>
							<li class="medium">MEDIUM</li>
							<li class="high">HIGH</li>
						</ul>
					</dd>
				</dl>
				<dl class="dl-layout new-password">
					<dt>确认新的登录密码:</dt>
					<dd>
					   <input type="password" name="confirm_password" class="form-control againPwd">
					</dd>
					<div class="err-tip err-tip2 hide"></div>
				</dl>
			</form>

            <div class="determine-wrap new-password-determine-wrap mt20">
            	<a href="javascript:void(0);" class="determine" onclick="login.findPasswordAction()">确定</a>
				<div class="err-tip err-tip3 mt10"></div>
            </div>
		</div>
	</div>
</div>
<script>
	var token = '{$get_data.token}';
	var user_id = {$get_data.user_id};
	var flag = {$get_data.flag};
    var login = new Login();
    $(function(){
    	//键盘输入判断密码强度
    	$("#rest-password").keyup(function(){
		    login.resetPasswordInputKeyup(this);
		});

    	//离开密码输入框
    	$("#rest-password").blur(function(){
		    login.resetPasswordInputBlur(this);
		});

    	//离开再次确认密码输入框
    	$(".againPwd").blur(function(){
		    login.againPasswordInputBlur(this);
		});
    })
</script>