{layout name="layout/registerLayout"/}
{load href="/static/css/login-register.css" /}
<!-- 重置密码成功 -->
<div class="password-find-bg">
	<div class="certification-wrap">
		<div class="reset-successful-wrap clearfix">
			<div class="reset-suc-left fl mr10">
				<i class="iconfont icon-iconcorrect green"></i>
			</div>
			<div class="reset-suc-right fl">
				<p class="reset-successful-title">重置成功，请牢记新的登录密码</p>
				<p class="reset-successful-des">
					<a href="{$login_url}" class="prompt-certificate-btn">重新登录</a>
				</p>
			</div>
		</div>

		<div class="not-received-tips mt50">
			<h3 class="mb10">重要提示</h3>
			<p>1、出现此页面说明密码已修改成功。</p>
			<p>2、请勿重复刷新页面。为了安全，重复刷新会出现错误。但密码已经修改成功，可用修改后的密码进行登录操作。</p>
		</div>

	</div>
</div>

