{layout name="layout/registerLayout"/}
{load href="/static/css/login-register.css" /}

<div class="login-regist-bg">
    <div class="w1200">
        <div class="reg-wrap">
            <ul class="steps-ul">
                <li><span class="circle"><i>1</i></span><span class="pl10">设置邮箱</span></li>
                <li><span class="circle"><i>2</i></span><span class="pl10">填写账号信息</span></li>
                <li class="active"><span class="circle"><i>3</i></span><span class="pl10">注册成功</span></li>
            </ul>
            <div class="register-box tcenter pd50 f16">
                <i class="iconfont icon-iconcorrect green f24 pr10"></i>恭喜您，注册成功。现在<a href="{$url}" class="color-6bc827">去登陆</a>
            </div>
        </div>
    </div>
</div>
