<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>DX_属性颜色管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--#include file="layout/c_global_style.html"-->
    {include file="layout/c_style" /}
    {include file="layout/c_corejs" /}
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!--#include file="layout/c_style.html"-->
    <!-- END THEME STYLES -->
    <link type="text/css" rel="stylesheet" href="/assets/plugins/DatePicker/skin/WdatePicker.css" />
    <!-- select2自动补全下拉框样式 -->
    <link rel="stylesheet" href="/assets/css/order.css" type="text/css" />

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="only-body-page-content">

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content pt0">
                <div class="bg-color-gray0 area_btn0 ml0 mr0 border-gray bborder-no">
                    {$menu_logo}
                </div>
                <!--end  按钮功能区 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-custom tabbable-custom-bby tabs-below" role="navigation">
                            <div>
                                <div class="tab-content">
                                    <div class="tab-pane active d-element-bind btns-link" id="month6">
                                        <div class="search-btn-wrap bborder-no">
                                            <form class="navbar-left" id="navbar" action="/AttributeColor/index" method="post" role="search">
                                                <ul class="c-h-ul search-ul query-ul">
                                                    <li>
                                                        <label class="c-h-ul-li-title">属性名查询：</label>
                                                            <input name="title_cn" class="form-control input-small" type="text" value="{:input('title_cn')}" />
                                                    </li>
                                                    <li class="w260">
                                                        <label class="c-h-ul-li-title w60"></label>
                                                        <a onclick="javascript:document:navbar.submit();" class="btn btn-gray" href="javascript:;">查 询</a>
                                                        <a class="btn btn-gray add-attr-color" data-id="0">添 加</a>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pb10">
                                                <table class="table-basic table-padding table-hover">
                                                    <colgroup>
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                    </colgroup>
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>属性中文(英文)名称</th>
                                                        <th>颜色值(16进制)</th>
                                                        <th>添加时间</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {volist name="list" id="vo"}
                                                        <tr>
                                                            <td>{$vo.id}</td>
                                                            <td>{$vo.title_cn}({$vo.title_en})</td>
                                                            <td>{$vo.color_value}</td>
                                                            <td>{$vo['add_time'|date="Y-m-d H:i:s",###]}</td>
                                                            <td>
                                                               <a href="#" class="Qing add-attr-color" data-id="{$vo.id}">
                                                                    <i class="glyphicon glyphicon-edit f16"></i>
                                                               </a>|
                                                               <a href="javascript:void(0);" onclick="public_delete('{$vo.id}','{:url("AttributeColor/public_delete")}')"  class="Qing red">
                                                                   <i class="glyphicon glyphicon-trash f16"></i>
                                                               </a>
                                                            </td>
                                                        </tr>
                                                        {/volist}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end base table -->
                                        <div class="row row16 pd15">
                                            <div class="col-md-16">
                                                <div class="dataTables_paginate paging_bootstrap fr">
                                                    {$page}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="/js/custom.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
  <script src="/static/js/product.js" type="text/javascript"></script>
    <!-- END JAVASCRIPTS -->
    <script>
        $(function(){
            Product.attrColorManage();
        });
    </script>
    <!-- END JAVASCRIPTS -->

</body>
</html>
