<link href="/assets/css/customer-font.css" rel="stylesheet" type="text/css"/>
<link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/plugins/jquery.jerichotab/jquery.jerichotab.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/style-bby.css" rel="stylesheet" type="text/css" />
<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<!-- select2自动补全下拉框样式 -->
<link rel="stylesheet" href="/assets/css/order.css" type="text/css" />
