<link href="/assets/css/customer-font.css" rel="stylesheet" type="text/css"/>
<link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" type="text/css" href="/assets/plugins/layer/skin/layer.css"/>
<link rel="stylesheet" type="text/css" href="/assets/plugins/layer/skin/layer.ext.css"/>

<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-select/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/assets/plugins/select2/select2-metronic.css"/>

<link href="/assets/css/style-bby.css" rel="stylesheet" type="text/css" />
<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="/assets/plugins/DatePicker/skin/WdatePicker.css" />
<!-- select2自动补全下拉框样式 -->
<link rel="stylesheet" href="/assets/css/order.css" type="text/css" />


<link rel="stylesheet" href="/static/css/base.css" type="text/css" />