    <div class="page-content-wrapper">
        <div class="page-content pd0">
            <iframe id="mainFrame" name="mainFrame" src="../index/home" class="none overflow-visible" scrolling="yes" frameborder="no" width="100%"></iframe>
        </div>
    </div>
</div>
<!-- END CONTENT -->
<div class="success_data"></div>
<div class="footer">
    <div class="footer-inner">
         &copy; 2006~<?php echo date("Y")?> DX.com All rights reserved.
    </div>
    <div class="footer-tools">
        <span class="go-top">
            <i class="fa fa-angle-up"></i>
        </span>
    </div>
</div>
<!-- END JAVASCRIPTS -->
<script src="/static/js/footer.js"></script>
<script>
    $(function () {
        App.init();
    });
</script>
</body>
</html>