<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>DX_OMS推送订单状态记录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--#include file="layout/c_global_style.html"-->
    {include file="layout/c_style" /}
    {load href="/static/css/memberList.css" /}
    {include file="layout/c_corejs" /}
    <!-- END THEME STYLES -->
    <link type="text/css" rel="stylesheet" href="/assets/plugins/DatePicker/skin/WdatePicker.css" />
    <!-- select2自动补全下拉框样式 -->
    <link rel="stylesheet" href="/assets/css/order.css" type="text/css" />

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="only-body-page-content">

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content pt0">

                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-custom tabbable-custom-bby tabs-below" role="navigation">
                            <div>
                                <div class="tab-content mt25">
                                    <div class="tab-pane active d-element-bind btns-link" id="month6">
                                        <div class="search-btn-wrap bborder-no">
                                            <form id="navbar" class="navbar-left" action="" method="post" role="search">
                                                <ul class="c-h-ul search-ul query-ul">
                                                     <!--<li class="w440">
                                                        <label class="c-h-ul-li-title w66" for="reservationtime">创建时间：</label>
                                                        <input type="text" name="startCreateOn" id="reservationtime" class="form-control input-small startTime" value="{:input('startCreateOn')}" />
                                                        <span class="time-text w20">至</span>
                                                        <input type="text" name="endCreateOn" id="canceltime" class="form-control input-small endTime"  value="{:input('endCreateOn')}"/>
                                                    </li>-->
                                                    <li class="w440">
                                                        <label class="c-h-ul-li-title w66" for="order_number">订单编号：</label>
                                                        <input type="text" name="order_number" id="order_number" class="form-control input-small" value="{:input('order_number')}" />
                                                    </li>
                                                    <li class="w85">
                                                        <label class="c-h-ul-li-title w60"></label>
                                                        <a onclick="javascript:document:navbar.submit();" class="btn btn-gray inquire relative" href="javascript:;">查 询</a>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table-basic table-padding table-hover">
                                                    <colgroup>
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                        <col width="">
                                                    </colgroup>
                                                    <thead>
                                                    <tr>
                                                        <th><input type="checkbox" class="selectAll"/></th>
                                                        <th>ID</th>
                                                        <th>订单号</th>
                                                        <th>原订单状态</th>
                                                        <th>订单状态</th>
                                                        <th>OMS推送状态</th>
                                                        <th>记录类型</th>
                                                        <th>推送状态时间</th>
                                                        <th>添加时间</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {volist name="list.data" id="vo"}
                                                        <tr>
                                                            <td><input type="checkbox" class="single-checkbox" name="single-checkbox" value="{$vo.record_id}"/></td>
                                                            <td>{$vo.record_id}</td>
                                                            <td><a href="{:url('order/edit',['id'=>$vo.order_number])}" target="_blank">{$vo.order_number}</a></td>
                                                            <td>{$order_status_data[$vo.order_status_from]|default=''}</td>
                                                            <td>{$order_status_data[$vo.order_status]|default=''}</td>
                                                            <td>{$vo.order_status_oms}</td>
                                                            <td>{if condition="$vo.record_type eq 1"}待发货{else/}{$vo.record_type}{/if}</td>
                                                            <td>{empty name="vo.change_on"}{else/}{$vo['change_on']}{/empty}</td>
                                                            <td>
                                                                {empty name="vo.add_time"}{else/}{$vo['add_time']}{/empty}
                                                            </td>
                                                        </tr>
                                                        {/volist}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end base table -->
                                        <div class="row row16 pd15 mt10">
                                            <div class="dataTables_paginate paging_bootstrap fr">
                                            {$list.Page}
                                            </div>
                                        </div>
                                        <!-- 订单内容 end -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-copy-pop hide"></div>
    <script type="text/javascript" src="/assets/plugins/DatePicker/WdatePicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!--<script type="text/javascript" src="/assets/plugins/bootstrap-daterangepicker/daterangepicker-zh-cn.js"></script>-->
    <script src="/assets/scripts/core/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="/static/js/review.js" type="text/javascript"></script>
    <script>
        $(function(){
            Review.reviewManage();
            var Timeout;
            $(".exceed").on({
                mouseenter: function(event) {
                    clearTimeout(Timeout);
                    var _this = $(this),
                        txt = _this.text(),
                        x = _this.offset().left,
                        y = _this.offset().top - $(document).scrollTop() + 30;
                    e = event || window.event;
                    // __xx = e.pageX || e.clientX + $(document).scrollLeft();
                    // __yy = e.pageY || e.clientY + $(document).scrollTop();
                    // console.log($(document).scrollTop())
                    $(".show-copy-pop").html(txt).css({"left":x, "top":y, "margin-left":"100px"}).removeClass("hide");
                },
                mouseout: function(event) {
                    Timeout = setTimeout(function(){
                        $(".show-copy-pop").addClass('hide')
                    },300);
                }
            });
        });
        Common.AllSelect($('.selectAll'),$('.single-checkbox'));
    </script>
    <!-- END JAVASCRIPTS -->

</body>
</html>
