<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>{$orderDetail['order_number']},商城管理-订单管理-订单详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    {include file="layout/c_style" /}
    {include file="layout/c_corejs" /}
    <!-- END THEME STYLES -->
    <!-- select2自动补全下拉框样式 -->
    <link rel="stylesheet" href="/static/css/order-details.css" type="text/css" />


</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-sidebar-fixed ml20 mr20">
    <div class="tabbable-custom tabbable-custom-bby tabs-below " role="navigation">
        <div class="row bg-color-gray0 area_btn0 border-gray mt10 mg0">
            <div class="col-md-8">
                <strong class="f14">主订单:{$orderDetail['order_number']}</strong>
            </div>
           <!--  <div class="col-md-4 tright">
            <form action="/order/edit">
                <span class="gray">快速跳转到订单:</span>
                <input name="id" type="text"/>
                <input type="submit" value="GO" class="btn btn-qing">
             </form>
            </div> -->
        </div>
        <div class="row col-md-12 mt20 ml0 mr0">
             <label>子订单号：</label>
             <ul class="step-list clearfix">
                 {volist name="$orderDetail['order_number_subset']" id="it"}
                    <li> <a href="{:url('order/edit',array('id'=>$it.order_number))}" target='_blank' class="Qing">{$it["order_number"]}</a></li>
                 {/volist}
             </ul>

        </div>
        <div class="blank20"></div>

    </div>
    <script type="text/javascript" src="/assets/plugins/DatePicker/WdatePicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="/assets/scripts/core/app.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="/static/js/order.js" type="text/javascript"></script>
    <script>
    $(function() {
        App.init();
        Order.orderDetail();
    })
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>
